@import './colors.scss';
@import './utility.scss';

:root {
  --max-page-width: 800px;
  --transition-duration: 0.1s;
  --border-radius: 0.6rem;
  --border-thickness: 2px;
  --accent-hue: 255, 0, 200;
  --accent-color: rgb(var(--accent-hue));

  --link-color: var(--blue);
  --brand-color: var(--accent-color);
  --brand-size: 2.2rem;
  --version-offset: -0.3rem;
  --header-color: var(--foreground-5);
  --footer-color: var(--background-color);
  --page-gutter: 2rem;
  --navlink-border: 2px;
  --default-gap: 1.5rem;

  // LIGHT MODE COLORS
  --lightmode-foreground-hue: 50, 50, 50;
  --lightmode-background-hue: 255, 255, 255;

  // DARK MODE COLORS
  --darkmode-foreground-hue: 225, 225, 225;
  --darkmode-background-hue: 4, 4, 4;

  // MISC SETTINGS
  --ol-counter-size: 2rem;
  --image-border-radius: 0;
  --image-outline-thickness: 0;
  --image-outline-color: var(--foreground-25);

  // IGNORE STUFF BELOW THIS LINE
  --foreground-hue: var(--lightmode-foreground-hue);
  --background-hue: var(--lightmode-background-hue);

  --foreground-color: rgb(var(--foreground-hue));
  --background-color: rgb(var(--background-hue));

  --foreground-5: rgba(var(--foreground-hue), 0.05);
  --foreground-10: rgba(var(--foreground-hue), 0.10);
  --foreground-25: rgba(var(--foreground-hue), 0.25);
  --foreground-50: rgba(var(--foreground-hue), 0.50);
  --foreground-75: rgba(var(--foreground-hue), 0.75);
  --foreground-95: rgba(var(--foreground-hue), 0.95);

  --background-5: rgba(var(--background-hue), 0.05);
  --background-10: rgba(var(--background-hue), 0.1);
  --background-25: rgba(var(--background-hue), 0.25);
  --background-50: rgba(var(--background-hue), 0.50);
  --background-75: rgba(var(--background-hue), 0.75);
  --background-95: rgba(var(--background-hue), 0.95);


  @media (prefers-color-scheme: dark) {
    --foreground-hue: var(--darkmode-foreground-hue);
    --background-hue: var(--darkmode-background-hue);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: calc(100vw - 100%);
  background-color: var(--background-color);
}

body {
  height: 100%;
  color: var(--foreground-color);
}

ul, ol {
  margin-left: 2em;
  margin-bottom: 1.5em;
}

li {
  margin-bottom: 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--link-color);

  &:hover {
    text-decoration: underline;
  }
}

input.text, textarea {
  background: none;
  padding: 0.6em 0.6em;
  font-size: 1.2rem;
  border-radius: var(--border-radius);
  border: none;
  font-size: 2rem;
  padding: 0.8rem 1rem;
  border: 2px dashed #ddd;

  &::placeholder {
    color: #ccc;
  }

  &:focus {
    outline: 2px dashed rgba(0,100,200, 0.6);
    outline-offset: -2px;
    border: 2px solid transparent;
  }
}

blockquote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: var(--foreground-5);
  border-left: 0.5rem solid var(--foreground-25);
  margin: 1.5em 0 1.5em 0;
  padding: 1em 1em 0.6em;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 1.4rem;
  line-height: 1.4em;
  font-style: italic;
  letter-spacing: -0.01em;

  &:before {
    color: #ccc;
    color: var(--foreground-25);
    content: open-quote;
    font-size: 4em;
    line-height: 0;
    margin-right: 0.15em;
    vertical-align: -0.4em;
  }

  cite {
    font-size: 0.65em;
    text-transform: uppercase;
    opacity: 0.7;
    display: block;
    text-align: right;
    margin-top: 0.5em;

    &:before {
      content: ' ~ ';
    }
  }
}

hr {
  border: 0;
  height: 2px;
  border-bottom: 2px dashed var(--foreground-25);
  margin: 3rem 0 3rem;
}

h1, h2, h3 {
  font-size: clamp(2.5rem, 23vmin, 7rem);
  font-weight: lighter;
  line-height: 1em;
  letter-spacing: -0.02em;
  padding-top: 0.09em;
  padding-bottom: 0.26em;
  margin-bottom: 0.3rem;
}

h1 {
  line-height: 0.6em;
  letter-spacing: -0.06em;
  font-weight: 400;
}

h2, h3 {
  font-family: sans-serif, Arial;
}

h2 {
  font-size: 2.5rem;
  font-weight: 100;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

p, li, caption {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  line-height: 1.5em;

  &:not(:last-child) {
    margin-bottom: 1.5em;
  }
}

* + h1, * + h2, * + h3 {
  margin-top: 2rem;
}

li, caption {
  font-size: 0.95em;
}

ul, ol {
  margin-right: 1.5rem;
}

ul:not(:last-child), ol:not(:last-child) {
  margin-bottom: 2.5em;
}

ol {
  list-style: none;
  counter-reset: ol-counter;
  gap: 1em;
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

ul {
  margin-left: 2.7em;
}

ol li {
  flex: 1;
  counter-increment: ol-counter;
  display: flex;
  margin-bottom: 0.5rem;
}

ol li::before {
  content: counter(ol-counter);
  font-weight: bold;
  font-size: var(--ol-counter-size);
  margin: -0.1em 0.7rem 0 0;
  font-family: serif;
}

figure {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  caption {
    padding: 0 1.5em;
  }

  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  &:not(:first-child) {
    margin-top: 2rem;
  }

  &.horizontal {
    @media (min-width: 500px) {
      flex-flow: row;
      gap: 2rem;

      & > * {
        flex: 1;
        overflow: hidden;
      }

      caption {
        flex: 0.25;
        text-align: left;
        padding: 0 1em 0 0;
      }
    }
  }
}

figure img {
  width: 100%;
  height: auto;
  object-fit: cover;

  &:not(.fullwidth) {
    outline: var(--image-outline-thickness) solid  var(--image-outline-color);
    outline-offset: calc(-1 * var(--image-outline-thickness));
    border-radius: var(--image-border-radius);
  }
}

caption {
  font-size: 0.85em;
  line-height: 1.3em;
  color: var(--foreground-75);

  a {
    font-weight: 400;
    color: var(--foreground-color);
  }
}

// RESPONSIVE BITS
:root {
  @media (max-width: 500px) {
    --page-gutter: 1em;
  }
}

strong {
  font-weight: 400;
}
