.split {
  display: flex;
  gap: var(--default-gap);
  flex-flow: row wrap;
  flex: 1;

  &.vertical {
    flex-flow: column;
  }

  & > * {
    flex: 1;
  }
}

.byline {
  margin-top: -0.5em;
  font-size: 1.3em;
  letter-spacing: -0.02em;
  border-top: 2px dotted var(--foreground-25);
  padding-top: 0.3em;
  margin-bottom: 2rem;
}
